.list {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: flex-start;
}

.listHead {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
}

.listhead > h1 {
  margin-left: .25rem;
}