.contactModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addContactForm {
  width: 80%
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-height: 40vh;
  background-color: #fff;
  border-radius: 10px;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 5vh;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.modalInput {
  width: 10rem;
  height: 1.5rem;
  border: 1px solid rgba(8, 111, 158, 0.945)
}

.modalInput:focus {
  outline: none;
  border: 2px solid rgba(8, 111, 158, 0.945)
}